.movie-detail {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 458px);
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  grid-template-areas:
    "poster info"
    "poster synopsis"
    "poster action";
}

.movie-detail__poster {
  grid-area: poster;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.movie-detail__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.movie-detail__title {
  font-size: 1.5rem;
}

.movie-detail__synopsis {
  grid-area: synopsis;
}

.movie-detail__action {
  grid-area: action;
  align-self: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.movie-action__title {
  color: #aaa;
}
