button {
  width: 100%;
  padding: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #5e77fd;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2d46cb;
}

hr {
  width: 300px;
  height: 1px;
  border: 0;
  background-color: #ccc;
  margin: 2rem auto;
}

.signin-form,
.signup-form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.signin-form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.oauth {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.oauth__title {
  color: #ccc;
  font-size: 0.8rem;
}

.oauth__kakao {
  color: #555;
  background-color: #fee500;
}

.oauth__kakao:hover {
  background-color: #e9d202;
}

.oauth__naver {
  background-color: #2db400;
}

.oauth__naver:hover {
  background-color: #1f8e04;
}

.oauth__google {
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}

.oauth__google:hover {
  background-color: #ccc;
}
